In [103]:
# imports and setup 
import pandas as pd
import scipy as sc
import numpy as np
import seaborn as sns

#%matplotlib notebook
import matplotlib.pyplot as plt 
plt.style.use('ggplot')
%matplotlib inline

In [104]:
# storm_19 = pd.read_csv("./data/StormEvents_details-ftp_v1.0_d2019_c20200317.csv")
# storm_18 = pd.read_csv("./data/StormEvents_details-ftp_v1.0_d2018_c20200317.csv")
# storm_17 = pd.read_csv("./data/StormEvents_details-ftp_v1.0_d2017_c20200121.csv")
# storm_16 = pd.read_csv("./data/StormEvents_details-ftp_v1.0_d2016_c20190817.csv")
# storm_15 = pd.read_csv("./data/StormEvents_details-ftp_v1.0_d2015_c20191116.csv")

In [105]:
# storms = storm_19.append(storm_18).append(storm_17).append(storm_16).append(storm_15)

In [106]:
# storms.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 300829 entries, 0 to 57787
Data columns (total 51 columns):
BEGIN_YEARMONTH       300829 non-null int64
BEGIN_DAY             300829 non-null int64
BEGIN_TIME            300829 non-null int64
END_YEARMONTH         300829 non-null int64
END_DAY               300829 non-null int64
END_TIME              300829 non-null int64
EPISODE_ID            300829 non-null int64
EVENT_ID              300829 non-null int64
STATE                 300829 non-null object
STATE_FIPS            300829 non-null int64
YEAR                  300829 non-null int64
MONTH_NAME            300829 non-null object
EVENT_TYPE            300829 non-null object
CZ_TYPE               300829 non-null object
CZ_FIPS               300829 non-null int64
CZ_NAME               300829 non-null object
WFO                   300829 non-null object
BEGIN_DATE_TIME       300829 non-null object
CZ_TIMEZONE           300829 non-null object
END_DATE_TIME         300829 non-null object
INJURIES_DIRECT       300829 non-null int64
INJURIES_INDIRECT     300829 non-null int64
DEATHS_DIRECT         300829 non-null int64
DEATHS_INDIRECT       300829 non-null int64
DAMAGE_PROPERTY       243009 non-null object
DAMAGE_CROPS          243800 non-null object
SOURCE                300829 non-null object
MAGNITUDE             157847 non-null float64
MAGNITUDE_TYPE        111630 non-null object
FLOOD_CAUSE           37903 non-null object
CATEGORY              156 non-null float64
TOR_F_SCALE           7023 non-null object
TOR_LENGTH            7023 non-null float64
TOR_WIDTH             7023 non-null float64
TOR_OTHER_WFO         805 non-null object
TOR_OTHER_CZ_STATE    805 non-null object
TOR_OTHER_CZ_FIPS     805 non-null float64
TOR_OTHER_CZ_NAME     805 non-null object
BEGIN_RANGE           194678 non-null float64
BEGIN_AZIMUTH         194678 non-null object
BEGIN_LOCATION        194678 non-null object
END_RANGE             194678 non-null float64
END_AZIMUTH           194678 non-null object
END_LOCATION          194678 non-null object
BEGIN_LAT             194678 non-null float64
BEGIN_LON             194678 non-null float64
END_LAT               194678 non-null float64
END_LON               194678 non-null float64
EPISODE_NARRATIVE     300829 non-null object
EVENT_NARRATIVE       232982 non-null object
DATA_SOURCE           300829 non-null object
dtypes: float64(11), int64(15), object(25)
memory usage: 119.3+ MB

In [107]:
storms['BEGIN_DATE_TIME'] = pd.to_datetime(storms['BEGIN_DATE_TIME'])
storms['END_DATE_TIME'] = pd.to_datetime(storms['END_DATE_TIME'])

In [108]:
storms = storms.drop(['EPISODE_ID','BEGIN_YEARMONTH', 'BEGIN_DAY', 'BEGIN_TIME', 'END_YEARMONTH', 'END_DAY', 'END_TIME', 'STATE_FIPS', 'YEAR', 'MONTH_NAME', 'CZ_FIPS', 'CZ_TIMEZONE', 'SOURCE', 'CATEGORY', 'EPISODE_NARRATIVE', 'EVENT_NARRATIVE', 'BEGIN_AZIMUTH', 'END_AZIMUTH', 'BEGIN_RANGE', 'END_RANGE', 'DATA_SOURCE'], axis = 1)

In [109]:
storms.to_csv('storms_clean_data.csv', index=False)

In [110]:
storms = pd.read_csv("./storms_clean_data.csv")

In [111]:
storms.head()

,EVENT_ID,STATE,EVENT_TYPE,CZ_TYPE,CZ_NAME,WFO,BEGIN_DATE_TIME,END_DATE_TIME,INJURIES_DIRECT,INJURIES_INDIRECT,...,TOR_OTHER_WFO,TOR_OTHER_CZ_STATE,TOR_OTHER_CZ_FIPS,TOR_OTHER_CZ_NAME,BEGIN_LOCATION,END_LOCATION,BEGIN_LAT,BEGIN_LON,END_LAT,END_LON
0,824116,TEXAS,Flash Flood,C,BEXAR,EWX,2019-05-09 15:54:00,2019-05-09 18:30:00,0,0,...,NaN,NaN,NaN,NaN,LEON SPGS,SAN GERONIMO,29.7898,-98.6406,29.7158,-98.7744
1,843354,MINNESOTA,Thunderstorm Wind,C,PINE,DLH,2019-07-15 16:40:00,2019-07-15 16:41:00,0,0,...,NaN,NaN,NaN,NaN,ROCK CREEK,ROCK CREEK,45.7700,-92.8700,45.7700,-92.8700
2,861581,TEXAS,Thunderstorm Wind,C,VAN ZANDT,FWD,2019-10-20 22:23:00,2019-10-20 22:23:00,0,0,...,NaN,NaN,NaN,NaN,EDGEWOOD,EDGEWOOD,32.7100,-95.8800,32.7100,-95.8800
3,861584,TEXAS,Thunderstorm Wind,C,TARRANT,FWD,2019-10-20 23:12:00,2019-10-20 23:12:00,0,0,...,NaN,NaN,NaN,NaN,AZLE,AZLE,32.8700,-97.6100,32.8700,-97.6100
4,861582,TEXAS,Thunderstorm Wind,C,PALO PINTO,FWD,2019-10-20 22:36:00,2019-10-20 22:36:00,0,0,...,NaN,NaN,NaN,NaN,MINERAL WELLS,MINERAL WELLS,32.8000,-98.1000,32.8000,-98.1000

In [112]:
storms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300829 entries, 0 to 300828
Data columns (total 30 columns):
EVENT_ID              300829 non-null int64
STATE                 300829 non-null object
EVENT_TYPE            300829 non-null object
CZ_TYPE               300829 non-null object
CZ_NAME               300829 non-null object
WFO                   300829 non-null object
BEGIN_DATE_TIME       300829 non-null object
END_DATE_TIME         300829 non-null object
INJURIES_DIRECT       300829 non-null int64
INJURIES_INDIRECT     300829 non-null int64
DEATHS_DIRECT         300829 non-null int64
DEATHS_INDIRECT       300829 non-null int64
DAMAGE_PROPERTY       243009 non-null object
DAMAGE_CROPS          243800 non-null object
MAGNITUDE             157847 non-null float64
MAGNITUDE_TYPE        111630 non-null object
FLOOD_CAUSE           37903 non-null object
TOR_F_SCALE           7023 non-null object
TOR_LENGTH            7023 non-null float64
TOR_WIDTH             7023 non-null float64
TOR_OTHER_WFO         805 non-null object
TOR_OTHER_CZ_STATE    805 non-null object
TOR_OTHER_CZ_FIPS     805 non-null float64
TOR_OTHER_CZ_NAME     805 non-null object
BEGIN_LOCATION        194678 non-null object
END_LOCATION          194678 non-null object
BEGIN_LAT             194678 non-null float64
BEGIN_LON             194678 non-null float64
END_LAT               194678 non-null float64
END_LON               194678 non-null float64
dtypes: float64(8), int64(5), object(17)
memory usage: 68.9+ MB

In [113]:
storms[storms['CZ_NAME'].isnull()].EVENT_TYPE.unique()

array([], dtype=object)